* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato;
}

section {
  margin-bottom: 128px;
}

/* ******************* */
/* GENERAL STYLES */
/* ******************* */
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.section-heading {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}

.section-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  line-height: 30px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 20px 43px;
  font-size: 20px;
  font-weight: 700;
  font-family: inherit;
  text-decoration: none;
  color: #fff;
  background: #e55473;
  border-radius: 8px;

  /* button */
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background: #e86581;
}

.mb-sm {
  margin-bottom: 16px;
}

.mb-md {
  margin-bottom: 24px;
}

.mb-lg {
  margin-bottom: 32px;
}

/* ******************* */
/* HERO SECTION */
/* ******************* */
.section-hero {
  background: #e554731a;
  margin-bottom: 178px;
}

.hero {
  display: flex;
  align-items: center;
  gap: 97px;
  padding-top: 50px;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.hero-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}

.hero-img {
  width: 635px;
  height: 800px;
  object-fit: contain;
}

/* ******************* */
/* FEATURED FLOWERS SECTION */
/* ******************* */

.section-featured-flowers {
  text-align: center;
}

.featured-text {
  max-width: 594px;
  margin: 0 auto 48px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.featured-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.featured-image {
  width: 464px;
  height: 538px;
  padding: 110px 78px 0 78px;
  border-radius: 300px 300px 0px 0px;
  margin-bottom: 32px;
}

.featured-image--1 {
  background: #a7216226;
}

.featured-image--2 {
  background: #0597a026;
}

.featured-image--3 {
  background: #477d1126;
}

.featured-image img {
  width: 310px;
  height: 428px;
  object-fit: contain;
}

.featured-caption a {
  text-decoration: none;
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  border-bottom: 2px solid currentcolor;
}

/* ******************* */
/* FEATURES SECTION */
/* ******************* */
.section-features {
  padding: 87px 175px;
  margin-bottom: 128px;
  background: rgba(39, 39, 39, 0.05);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 100px;
}

.feature-item {
  text-align: center;
}

.feature-image {
  width: 88px;
  height: 88px;
  object-fit: contain;
  margin-bottom: 24px;
}

.feature-title {
  color: #272727cc;
  font-size: 23px;
  font-weight: 600;
  line-height: 35px;
}

/* ******************* */
/* HOT DEALS SECTION */
/* ******************* */
.section-hot-deals {
  background: #e554730d;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 186px;
}

.hot-deals-content {
  max-width: 594px;
  text-align: center;
}

.hot-deals-content h2 span {
  color: #e55473;
}

.hot-deals-image {
  width: 318px;
  height: 420px;
  object-fit: contain;
}

/* ******************* */
/* GALLERY SECTION */
/* ******************* */
.section-gallery {
  text-align: center;
  margin-bottom: 128px;
}

.gallery-text {
  max-width: 594px;
  margin: 0 auto 48px;
}

.gallery-image-container {
  display: flex;
  gap: 24px;
}

.gallery-image {
  width: 342px;
  height: 396px;
  object-fit: contain;
}

/* ******************* */
/* TESTIMONIALS SECTION */
/* ******************* */
.section-testimonials {
  background: #e554730d;
  background-image: url("../images/testimonial-bg.png");
  background-repeat: no-repeat;
  background-position-x: 1051px;
  background-position-y: 7px;
  padding: 100px 0;
  text-align: center;
}

.testimonials-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 120px;
}

.testimonial {
  flex: 1;
  min-height: 350px;
  position: relative;
  background: #efefef;
  padding: 70px 20px 20px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.01);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.testimonial-image {
  width: 120px;
  height: 120px;
  object-fit: contain;
  border-radius: 50%;
  border: 6px solid #fff;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.testimonial-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #272727cc;
}

.testimonial-text::before {
  content: "\201C";
  bottom: -20px;
  right: 5px;
  font-size: 50px;
  position: relative;
  line-height: 20px;
  color: #e55473;
}

.testimonial-text::after {
  content: "\201D";
  bottom: -20px;
  right: -5px;
  font-size: 50px;
  position: relative;
  line-height: 20px;
  color: #e55473;
}

.testimonial-author {
  font-size: 20px;
  color: #272727cc;
  font-weight: bold;
  text-transform: uppercase;
}

/* ******************* */
/* CALL TO ACTION SECTION */
/* ******************* */
.section-cta {
  background-image: url("../images/cta.png");
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 8px;
  padding: 121px 0;
  margin-bottom: 128px;
}

.section-cta h2 {
  margin-bottom: 8px;
}

.form-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 48px;
}

.form-cta input {
  display: inline-block;
  min-width: 700px;
  padding: 22px;
  font-size: 16px;
  font-family: inherit;
  color: #27272799;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 8px;
}

.form-cta input::placeholder {
  font-size: 16px;
  color: #27272799;
}

/* ******************* */
/* FOOTER */
/* ******************* */
.footer {
  background: #111010;
  padding: 128px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content {
  text-align: center;
  max-width: 625px;
}

.footer-logo {
  color: #e55473;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 32px;
}

.footer-logo span {
  color: #fff;
}

.footer-description {
  color: #ffffffe6;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 32px;
}

.copyright-text {
  color: #ffffff66;
  font-size: 16px;
}
