* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato;
}

section {
  margin-bottom: 128px;
}

/* ******************* */
/* GENERAL STYLES */
/* ******************* */
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.section-heading {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}

.section-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  line-height: 30px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 20px 43px;
  font-size: 20px;
  font-weight: 700;
  font-family: inherit;
  text-decoration: none;
  color: #fff;
  background: #e55473;
  border-radius: 8px;
}

.mb-sm {
  margin-bottom: 16px;
}

.mb-md {
  margin-bottom: 24px;
}

.mb-lg {
  margin-bottom: 32px;
}

/* ******************* */
/* HERO SECTION */
/* ******************* */
.section-hero {
  background: #e554731a;
  margin-bottom: 178px;
}

.hero {
  display: flex;
  align-items: center;
  gap: 97px;
  padding-top: 50px;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.hero-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}

.hero-img {
  width: 635px;
  height: 800px;
  object-fit: contain;
}

/* ******************* */
/* FEATURED FLOWERS SECTION */
/* ******************* */

.section-featured-flowers {
  text-align: center;
}

.featured-text {
  max-width: 594px;
  margin: 0 auto 48px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.featured-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.featured-image {
  width: 464px;
  height: 538px;
  padding: 110px 78px 0 78px;
  border-radius: 300px 300px 0px 0px;
  margin-bottom: 32px;
}

.featured-image--1 {
  background: #a7216226;
}

.featured-image--2 {
  background: #0597a026;
}

.featured-image--3 {
  background: #477d1126;
}

.featured-image img {
  width: 310px;
  height: 428px;
  object-fit: contain;
}

.featured-caption a {
  text-decoration: none;
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  border-bottom: 2px solid currentcolor;
}

/* ******************* */
/* FEATURES SECTION */
/* ******************* */
.section-features {
  padding: 87px 175px;
  margin-bottom: 128px;
  background: rgba(39, 39, 39, 0.05);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 100px;
}

.feature-item {
  text-align: center;
}

.feature-image {
  width: 88px;
  height: 88px;
  object-fit: contain;
  margin-bottom: 24px;
}

.feature-title {
  color: #272727cc;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
}

/* ******************* */
/* HOT DEALS SECTION */
/* ******************* */
.section-hot-deals {
  background: #e554730d;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 186px;
}

.hot-deals-content {
  max-width: 594px;
  text-align: center;
}

.hot-deals-content h2 span {
  color: #e55473;
}

.hot-deals-image {
  width: 318px;
  height: 420px;
  object-fit: contain;
}

/* ******************* */
/* GALLERY SECTION */
/* ******************* */
.section-gallery {
  text-align: center;
  margin-bottom: 128px;
}

.gallery-text {
  max-width: 594px;
  margin: 0 auto 48px;
}

.gallery-image-container {
  display: flex;
  gap: 24px;
}

.gallery-image {
  width: 342px;
  height: 396px;
  object-fit: contain;
}
