* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato;
}

/* ******************* */
/* GENERAL STYLES */
/* ******************* */
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  line-height: 30px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 20px 43px;
  font-size: 20px;
  font-weight: 700;
  font-family: inherit;
  text-decoration: none;
  color: #fff;
  background: #e55473;
  border-radius: 8px;
}

/* ******************* */
/* HERO SECTION */
/* ******************* */
.section-hero {
  background: #e554731a;
}

.hero {
  display: flex;
  align-items: center;
  gap: 97px;
  padding-top: 50px;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.hero-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}

.hero-img {
  width: 635px;
  height: 800px;
  object-fit: contain;
}
